body {
    color: rgb(207, 207, 207);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/control/static/images/background_hex.jpg');
}

#imageWrapper1, #imageWrapper2, #imageWrapper3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}