{%extends "base.html"%}
{% block title %}Temperature{% endblock %}
{% block content %}
<style>
.imgContainer{
  position: relative;
}

 {%for row in range(8)%}
  .label{{row}}{
	  position:absolute;
	  left:{{row*100+500}}px;
	  top:{{50}}px;
  }
{% endfor%}

</style>






<button id="init_temperature" class="btn btn-dark btn-block" type="button" onclick="init_temp_func();">Init Temperature Sensors </button>
<!-- <button id="stop_temperature" class="btn btn-dark btn-block" type="button" onclick="get_temp_values();">Stop Temperature Measurement</button>
-->
<div class="imgContainer">
  <img src="{{ url_for('app_temp.static', filename='black.jpg')}}" width="900" height="900" />
    {% for row in range(8)%}
        <label class="label{{row}}"  id="label{{row}}" color: black>{{row}}</label>
    {% endfor%}


</div>

{% endblock %}

{% block script %}
<script>




function get_temp_values(){
		console.log(`get temp values`);
		$.ajax("get_temp_values",
		{
		    contentType:"application/json",
		    data: JSON.stringify({
			variable:"temperature values"
			}),
			type:"POST",
			success:function(response){
				var data=response.data
				console.log(data["temps"])
				console.log(data["Exception"])
				for (idx = 0; idx < data["temps"].length; idx++) { 
					var row = Math.floor( idx );
					if(data["temps"][idx]!=0){
						document.getElementById(`label${row}`).innerHTML=data["temps"][idx];
					}
					else{
						document.getElementById(`label${row}`).style.color = "red";
						document.getElementById(`label${row}`).innerHTML=`${row}`;
					}
			}
			setTimeout(get_temp_values, 5000);
				
			}
		});
};
function init_temp_func(){
		console.log("init_temp_func");
		$.ajax("init_temperature",
		{
		    contentType:"application/json",
		    data: JSON.stringify({
			variable: "init_temperature"
			}),
			type:"POST",
			success:function(response){
				var data=response.data
				console.log(data)
					for (idx = 0; idx < data.length; idx++) { 
					var row = Math.floor( idx );
					if(data[idx]!=0){
						document.getElementById(`label${row}`).style.color = "green";
					}
					else{
						document.getElementById(`label${row}`).style.color = "red";
					}
			}
			get_temp_values()
			} 
		});
}



</script>

{% endblock %}
