{%extends "base.html"%}
{% block title %}Terminal{% endblock %}
{% block content %}



<form method="post">
<label for="submit_on_enter"> Terminal Input</label>
<!--<textarea class="form-control" rows="5" id="terminal_input" name="terminal_input"></textarea>-->
<!--<input type="submit" value="submit" />-->
<input class="submit_on_enter" type="text" style="background-color: rgba(40,40,40,0.7); color:white; width:91vw;" name="terminal_input" placeholder="Input your Terminal Command here">
</div>
</form>

<div>
<p>Terminal Output</p>
<div class="text-left" style="background-color: rgba(40,40,40,0.7);">
<p>{{terminal_output}}</p>
</div>
</div>

<script>
$(document).ready(function(){
	$('submit_on_enter').keydown(function(event){
		if(event.keyCode==13){
			this.form.submit();
			return false;
	}
});
});
</script>
{% endblock %}
