body {
    color: rgb(207, 207, 207);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/daq/static/images/background_hex.jpg');
}

/* Images */
#IdImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    max-width: 10%;
    height: auto;
}