{%extends "base.html"%}

{% block title %}Control{% endblock %}

{% block content %}
    <style>
    .imgContainer{position: relative;}
    {%for row in range(8)%}
        .label{{row}}{
            position:absolute;
            left:{{row*100+200}}px;
            top:{{5}}px;
        }
    {% endfor%}
    </style>

    <button id="init_temperature" class="btn btn-dark btn-block" type="button" onclick="init_temp_func();">Init Temperature Sensors </button>
    <div class="imgContainer">
        <img src="{{ url_for('app_temp.static', filename='black.jpg')}}" width="90%" height="50" />
    {% for row in range(8)%}
        <label class="label{{row}}"  id="label{{row}}" color: black>{{row}}</label>
    {% endfor%}
    </div>

    <style></style>

    <button id="init_dac" class="btn btn-dark btn-block" type="button" onclick="init_dac_func();">Init DAC </button>
    <button id="get_adc_volts" class="btn btn-dark btn-block" type="button" onclick="get_adc_values();">Get ADC Values </button>
    <table align="center" border="1" cellspacing="10" cellpadding="10">
        <tr>
            {% for chan in range(0,4)%}
                <th>
                    <form>
                        <p>Channel {{chan+1}} | VME {{chan}}</p>
                        <label for="slider{{chan}}">Set Voltage [V]:</label>
                        <input type="number" id="involt{{chan}}" name="slider{{chan}}" min="0" max="35" value="0">
                        <input type="button" value="Set" onclick="set_dac_value('involt{{chan}}',{{chan}},'sliderVal{{chan}}');">
                        <br>
                        <label for="getvolt">Current Voltage [V]:</label>
                        <output type="number" id="ADCVal{{chan}}" name="getvolt"></output>
                    </form>
                </th>
            {% endfor%}
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            {% set indexchannel = [5, 4, 7, 6] %}
            {% for chan in  range(4,8)%}
                <th>
                    <form>                    
                        <p>Channel {{chan+1}} | VME {{indexchannel[loop.index()}}</p>
                        <label for="slider{{chan}}">Set Voltage [V]:</label>
                        <input type="number" id="involt{{chan}}" name="slider{{chan}}" min="0" max="35" value="0">
                        <input type="button" value="Set" onclick="set_dac_value('involt{{chan}}',{{chan}},'sliderVal{{chan}}');">
                        <br>
                        <label for="getvolt">Current Voltage [V]:</label>
                        <output type="number" id="ADCVal{{chan}}" name="getvolt"></output>
                    </form>
                </th>
            {% endfor%}
        </tr>
    </table>
    <th>
        <form>                    
            <p>Value for all Channels [V]</p>
            <label for="slider">Set Voltage [V]:</label>
            <input type="number" id="involt_all" name="slider" min="0" max="35" value="0">
            <input type="button" value="Set" onclick="set_all_value('slider');">
        </form>
    </th>
{% endblock %}

{% block script %}
<script>
async function get_temp_values(){
		console.log(`get temp values`);
		$.ajax("get_temp_values",
		{
		    contentType:"application/json",
		    data: JSON.stringify({
			variable:"temperature values"
			}),
			type:"POST",
			success:function(response){
				var data=response.data
				console.log(data["temps"])
				console.log(data["Exception"])
				for (idx = 0; idx < data["temps"].length; idx++) { 
					var row = Math.floor( idx );
					if(data["temps"][idx]!=0){
						document.getElementById(`label${row}`).innerHTML=data["temps"][idx];
					}
					else{
						document.getElementById(`label${row}`).style.color = "red";
						document.getElementById(`label${row}`).innerHTML=`${row}`;
					}
			}
			setTimeout(get_temp_values, 30000);				
			}
		});
};
async function init_temp_func(){
    console.log("init_temp_func");
    $.ajax("init_temperature",
    {
        contentType:"application/json",
        data: JSON.stringify({
        variable: "init_temperature"
        }),
        type:"POST",
        success:function(response){
            var data=response.data
            console.log(data)
            for (idx = 0; idx < data.length; idx++) 
            { 
                var row = Math.floor( idx );
                if(data[idx]!=0){
                    document.getElementById(`label${row}`).style.color = "green";
                }
                else{
                    document.getElementById(`label${row}`).style.color = "red";
                }
            }
            get_temp_values();	
        } 
    });
}
async function get_adc_values(){
	$.ajax("get_adc_value",
		{
		    contentType:"application/json",
		    data: JSON.stringify({
			    voltage_card: 0,
			}),
			type:"POST",
			success:function(response){
				var data=response.data
				console.log(data["Exception"])
				var arraylength=data["voltages"].length
				try {
				    for (var chan = 0; chan < arraylength; chan++) {
					    document.getElementById(`ADCVal${chan}`).value=data["voltages"][chan];
				    }
                } catch (e) {
                    console.log(e.name + ': ' + e.message);
                    setTimeout(get_adc_values, 10000);
                }
                setTimeout(get_adc_values, 30000);
			}
		});
};
function set_dac_value(val,chan,slider_val){
        val = document.getElementById(`involt${chan}`).value;
		console.log(`set dac value ${val}`);
		$.ajax("set_dac_value",
		{
		    contentType:"application/json",
		    data: JSON.stringify({
			    voltage: val,
			    channel: chan
			}),
			type:"POST",
			success:function(response){
				var data=response.data
				console.log(data["Exception"])
				document.getElementById(`involt${chan}`).value=data["voltage"];
				document.getElementById(`ADCVal${chan}`).value=data["adc_voltage"];
    			document.getElementById(slider_val).innerHTML = data["voltage"]; // get
			}
		});
};
function init_dac_func(){
		console.log("init_dac_func");
		$.ajax("init_dac",
		{
		    contentType:"application/json",
		    data: JSON.stringify({
			    variable: "init_dac"
			}),
			type:"POST",
			success:function(response){
				var data=response.data
				console.log(data)
			}
		});
        sleep(3000);	
        get_adc_values();
};

function set_all_value(slider_val){
    val = document.getElementById(`involt_all`).value;
    console.log(`set all dac value ${val}`);
    for(let chan = 0; chan < 8; chan++){
        $.ajax("set_dac_value",
        {
            contentType:"application/json",
            data: JSON.stringify({
                voltage: val,
                channel: chan
            }),
            type:"POST",
            success:function(response){
                var data=response.data
                console.log(data["Exception"])
                document.getElementById(`involt${chan}`).value=data["voltage"];
                document.getElementById(`ADCVal${chan}`).value=data["adc_voltage"];
                document.getElementById(slider_val).innerHTML = data["voltage"]; // get
            }
        });
        sleep(10000);
        get_adc_values();
        sleep(3000);
    };
};

function sleep(milliseconds) {
  const date = Date.now();
  let currentDate = null;
  do {
    currentDate = Date.now();
  } while (currentDate - date < milliseconds);
}
</script>
{% endblock %}
