{%extends "base.html"%}

{% block title %}Control{% endblock %}

{% block content %}
    <style>
    .imgContainer{position: relative;}
    {%for row in range(8)%}
        .label{{row}}{
            position:absolute;
            left:{{row*100+525}}px;
            top:{{5}}px;
        }
    {% endfor%}
    </style>

    <button id="init_temperature" class="btn btn-dark btn-block" type="button" onclick="init_temp_func();">Init Temperature Sensors </button>
    <div class="imgContainer">
        <img src="{{ url_for('app_temp.static', filename='black.jpg')}}" width="1000" height="50" />
    {% for row in range(8)%}
        <label class="label{{row}}"  id="label{{row}}" color: black>{{row}}</label>
    {% endfor%}
    </div>

    <style>
        .slidecontainer {
        width: 100%;
        }
        
        .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 25px;
        background: #404040;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        }
        
        .slider:hover {
        opacity: 1;
        }
        
        .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #ccc;
        cursor: pointer;
        }
        
        .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #000;
        cursor: pointer;
        }
        
    </style>
    <button id="init_dac" class="btn btn-dark btn-block" type="button" onclick="init_dac_func();">Init DAC </button>
    {% for chan in range(8)%}
    <p>
        Channel {{chan}} DAC: <output id="sliderVal{{chan}}"></output>V ADC: <output id="ADCVal{{chan}}"></output>V <input type="range" class="slider" min="0" value="0" max="40" step="0.05" id="slider{{chan}}" oninput="set_dac_value(this.value,{{chan}},'sliderVal{{chan}}')">
    </p>
    {% endfor%}

{% endblock %}






{% block script %}
<script>
function get_temp_values(){
		console.log(`get temp values`);
		$.ajax("get_temp_values",
		{
		    contentType:"application/json",
		    data: JSON.stringify({
			variable:"temperature values"
			}),
			type:"POST",
			success:function(response){
				var data=response.data
				console.log(data["temps"])
				console.log(data["Exception"])
				for (idx = 0; idx < data["temps"].length; idx++) { 
					var row = Math.floor( idx );
					if(data["temps"][idx]!=0){
						document.getElementById(`label${row}`).innerHTML=data["temps"][idx];
					}
					else{
						document.getElementById(`label${row}`).style.color = "red";
						document.getElementById(`label${row}`).innerHTML=`${row}`;
					}
			}
			setTimeout(get_temp_values, 5000);				
			}
		});
};
async function init_temp_func(){
		console.log("init_temp_func");
		$.ajax("init_temperature",
		{
		    contentType:"application/json",
		    data: JSON.stringify({
			variable: "init_temperature"
			}),
			type:"POST",
			success:function(response){
				var data=response.data
				console.log(data)
                while(true)
                {
					for (idx = 0; idx < data.length; idx++) 
                    { 
                        var row = Math.floor( idx );
                        if(data[idx]!=0){
                            document.getElementById(`label${row}`).style.color = "green";
                        }
                        else{
                            document.getElementById(`label${row}`).style.color = "red";
                        }
                    }
                    get_temp_values()
                    setTimeout(init_temp_func, 30000);		
                }
			} 
		});
}
async function get_adc_values(){
	$.ajax("get_adc_value",
		{
		    contentType:"application/json",
		    data: JSON.stringify({
			    voltage_card: 0,
			}),
			type:"POST",
			success:function(response){
				var data=response.data
				console.log(data["Exception"])
				var arraylength=data["voltages"].length
				try {
				    for (var chan = 0; chan < arraylength; chan++) {
					    document.getElementById(`ADCVal${chan}`).value=data["voltages"][chan];
				    }
                } catch (e) {
                    console.log(e.name + ': ' + e.message);
                    setTimeout(get_adc_values, 10000);
                }
                setTimeout(get_adc_values, 5000);
			}
		});
};
async function set_dac_value(val,chan,slider_val){
		console.log(`set dac value ${val}`);
		$.ajax("set_dac_value",
		{
		    contentType:"application/json",
		    data: JSON.stringify({
			    voltage: val,
			    channel: chan
			}),
			type:"POST",
			success:function(response){
				var data=response.data
				console.log(data["Exception"])
				document.getElementById(`slider${chan}`).value=data["voltage"];
				document.getElementById(`ADCVal${chan}`).value=data["adc_voltage"];
    			document.getElementById(slider_val).innerHTML = data["voltage"]; // get
			}
		});
};
async function init_dac_func(){
		console.log("init_dac_func");
		$.ajax("init_dac",
		{
		    contentType:"application/json",
		    data: JSON.stringify({
			    variable: "init_dac"
			}),
			type:"POST",
			success:function(response){
				var data=response.data
				console.log(data)
			}
		});
};
async function increase_func(){
		console.log("dac increase");
		$.ajax("increase",
		{
		    contentType:"application/json",
		    data: JSON.stringify({
			    variable: "get_json"
			}),
			type:"POST",
			success:function(response){
				var data=response.data
				console.log(data)
			}
		});
		console.log("increase");
};
async function decrease_func(){
		console.log("dac increase");
		$.ajax("decrease",
		{
		    contentType:"application/json",
		    data: JSON.stringify({
			    variable: "get_json"
			}),
			type:"POST",
			success:function(response){
				var data=response.data
				console.log(data)
			}
		});
		console.log("increase");
};
</script>
{% endblock %}
