{% extends "layout.html" %}

{% block title %}Ambient HTML{% endblock %}

{% block content %}
    <head>
        <title>Ambient Overview</title>
        <link rel="stylesheet" href="{{ url_for('ambient.static', filename='css/styles.css') }}">
        <script src="{{ url_for('ambient.static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('ambient.static', filename='js/script.js') }}"></script>
    </head>

    <body>
        <script>
            setInterval(update_cooler,5000);
            setInterval(update_darkbox,5000);
            setInterval(update_outside,5000);
        </script>

        <div class="imageContainer">
            <div class="imageWrapper">
                <img id="Cooler" data-image-url="{{ url_for('ambient.static', filename='Ambient_cooler.png') }}" src="{{ url_for('ambient.static', filename='Ambient_cooler.png') }}" alt="Ambient Image 1" width="300px" height="200px" />
            </div>
            <div class="imageWrapper">
                <img id="Darkbox" data-image-url="{{ url_for('ambient.static', filename='Ambient_darkbox.png') }}" src="{{ url_for('ambient.static', filename='Ambient_darkbox.png') }}" alt="Ambient Image 2" width="300px" height="200px" />
            </div>
            <div class="imageWrapper">
                <img id="Outside" data-image-url="{{ url_for('ambient.static', filename='Ambient_darkbox.png') }}" src="{{ url_for('ambient.static', filename='Ambient_darkbox.png') }}" alt="Ambient Image 3" width="300px" height="200px" />
            </div>
        </div>
    </body>
{% endblock %}