{% extends "layout.html" %}

{% block title %}Ambient HTML{% endblock %}

{% block content %}
    <head>
        <title>Ambient Overview</title>
        <link rel="stylesheet" href="{{ url_for('ambient.static', filename='css/styles.css') }}">
        <script src="{{ url_for('ambient.static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('ambient.static', filename='js/script.js') }}"></script>
    </head>

    <body>
        <div class="imageWrapper1" id="imageWrapper1">
            <img id="Cooler" src="{{ url_for('ambient.static', filename='Ambient_cooler.png') }}" alt="Ambient_cooler" width="1000px" height="600px" />
        </div>
        <br>
        <div class="imageWrapper2" id="imageWrapper2">
            <img id="Darkbox" src="{{ url_for('ambient.static', filename='Ambient_darkbox.png') }}" alt="Ambient_darkbox" width="1000px" height="600px" />
        </div>
        <br>
        <div class="imageWrapper3" id="imageWrapper3">
            <img id="Outside" src="{{ url_for('ambient.static', filename='Ambient_outside.png') }}" alt="Ambient_outside" width="1000px" height="600px" />
        </div>

        <script>
            setTimeout(function() {
                setInterval(update_cooler, 0);
            }, 5000);
            setTimeout(function() {
                setInterval(update_darkbox, 5000);
            }, 5000);
            setTimeout(function() {
                setInterval(update_outside, 10000);
            }, 5000);
        </script>
                
    </body>
{% endblock %}