/* styles.css */

body {
    background-color: rgb(43, 43, 43);
    color: rgb(207, 207, 207);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #343a40;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #495057;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.table-container {
    margin-top: 20px;
    text-align: center;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid white;
}

th {
    background-color: #343a40;
}

input[type="number"] {
    width: 60px;
}

output {
    display: inline-block;
    width: 60px;
}

img {
    max-width: 100%;
    height: auto;
}
