{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="input-group">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </div>
        <div class="input-group">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>
        <div class="input-group">
            {{ form.submit() }}
        </div>
    </form>
    {% for message in get_flashed_messages() %}
        <div class="error-message">{{ message }}</div>
    {% endfor %}
</div>
{% endblock %}
